@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Tahoma", sans-serif;
  color-scheme: light dark;
  background-color: #fff;
  font-weight: 400;
  font-size: 25px;
  color: #000;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search {
  border: 1px solid #d6d6d6;
  border-radius: 25px;
  background: #fdfdfd;
  max-width: 300px;
  max-height: 52px;
  align-self: center;
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.57);
  padding: 14px 60px 14px 21px;
}

.search-button {
  cursor: pointer;
  border-radius: 15px;
  width: 35px;
  height: 35px;
  background: #4470e2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -50px;
}

.characters {
  font-weight: 400;
  font-size: 33px;
  color: #000;
}

.description {
  font-weight: 400;
  font-size: 25px;
  color: #909090;
}
.description > a > em {
  color: #4470e2;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 44px;
  grid-auto-rows: minmax(100px, auto);
}
